<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar estudiante</title>
</head>
<body>
    <center>
        <form action="/addStudent" method="POST">
            <% //Creamos un form y en action="" ingresamoe la direccion que usaremos en server.js  y en metodo podemos usar el metodo Post para mandar de forma segura nuestra informacion%>
            <legend><h1>Agregar Estudiante</h1></legend>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre"><br/><br/>
            <label for="nss">Nss</label>
            <input type="text" id="nss" name="nss"><br/><br/>
            <label for="edad">Edad</label>
            <input type="text" id="edad" name="edad"><br/><br/>
            <label for="tpSangre">Tipo de sangre</label>
            <input type="text" id="tpSangre" name="tpSangre"><br/><br/>
            
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>